<!-- views/layouts/main.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Site</title>
    <!-- Ajoute ici les liens vers tes feuilles de style, scripts, etc. -->
</head>
<body>
    <!-- En-tête -->
    <header>
       
        <!-- Ici, tu pourrais mettre un menu de navigation commun à toutes les pages -->
    </header>

    <!-- Contenu spécifique à chaque page -->
    {{{body}}}

    <!-- Pied de page -->
    <footer>
        <!-- Contenu du pied de page -->
    </footer>
</body>
</html>
